*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: white;
}
.container{
  height: 1000px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 10px;
}
.kutu1{
  border-radius: 3%;
  margin-top: 15px;
  background-color: #E9E9E9;
}
.kutu2{
  margin-top: 15px;
  display: grid;
  row-gap: 18px;
  background-color: #F5C4EE;
  grid-template-rows: repeat(4 , 1fr);
  
}
.oyun1{
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  border-radius: 13%;
  margin: 10px 18px 0px 18px;
  background-color: #F6EEEE;
}
.oyun2{
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  border-radius: 13%;
  margin: 10px 18px 0px 18px;
  background-color: #F6EEEE;
}
.oyun3{
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  border-radius: 13%;
  margin: 0px 18px 10px 18px;
  background-color: #F6EEEE;
}
.oyun4{
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin: 0px 18px 10px 18px;
  border-radius: 13%;
  background-color: #F6EEEE;
}
img.torto {
  background: url("../img/TortoMini.jpg") center no-repeat;
  height: 90px;
    width: 90px;
    object-fit: cover;
} 
img.eslestirme {
  background: url("../img/meyveOyunuMini.jpg") center no-repeat;
  height: 90px;
    width: 90px;
    object-fit: cover;
} 
